argcomplete==1.10.0
audioread==2.1.8
cffi==1.12.3
Click==7.0
cycler==0.10.0
decorator==4.4.0
future==0.17.1
joblib==0.13.2
kiwisolver==1.1.0
librosa==0.7.0
matplotlib
numpy==1.17.2
pandas==0.25.1
Pillow==8.1.0
pycparser==2.19
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.2
resampy==0.2.2
SoundFile==0.10.2
catalyst
facenet-pytorch
memory-profiler
lz4
wandb
mir_eval
pysndfx
